{% extends 'layout/base.html.twig' %}

{% block body %}

    <section class="page-header" filter-color="orange">
        <div class="page-header-image" style="background-image: url({{ asset('image/login.jpg') }})"></div>

        <div class="container">
            <div class="col-md-8 content-center">
                <div class="card card-login card-plain">
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <form class="form" method="POST" action="{{ path('login') }}">

                        <div class="header header-primary text-center">
                            <div class="logo-container">
                                <img src="{{ asset('image/now-logo.png') }}" alt="">
                            </div>
                        </div>

                        <div class="content">
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons users_circle-08"></i>
                                </span>
                                <input id="username" type="text" class="form-control" name="_username" value="{{ last_username }}" required autofocus>
                            </div>

                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                </span>
                                <input id="password" type="password" class="form-control" name="_password" required>
                            </div>
                        </div>

                        <input type="hidden" name="_target_path" value="/activite" />

                        <div class="footer text-center">
                            <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">
                                Connecte-toi
                            </button>
                        </div>

                        <div class="pull-left">
                            <h6>
                                <a href="" class="link">Créer un compte ?</a>
                            </h6>
                        </div>

                        <div class="pull-right">
                            <h6>
                                <a href="" class="link">Oubli du mot de passe ?</a>
                            </h6>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="{{ asset('js/core/jquery.3.2.1.min.js') }}"></script>
    <script type="text/javascript">
        (function($){
            $('body').addClass('login-page');
            $('.navbar').addClass('navbar-transparent');
        })(jQuery);
    </script>

{% endblock %}